<div id="main_index">

	<h1>Log in</h1>

	<%= link_to "Pas encore incrit", new_user_registration_url %>


<h2>Last travel</h2>
<table>
	<tr>
	    <th>Name</th>
	    <th>Start country</th>
	    <th>End country</th>
	    <th>Start travel</th>
	    <th>End travel</th>
	    <th></th>
	    <th></th>
	    <th></th>
 	</tr>
  <tr>
    <td><%= @last_activity.travel.name %></td>
    <td><%= @last_activity.travel.start_country %></td>
    <td><%= @last_activity.travel.end_country %></td>
    <td><%= @last_activity.travel.start_travel %></td>
    <td><%= @last_activity.travel.end_travel %></td>
    <td><%= @last_activity.description %></td>
    <td><%= @last_activity.travel.user.pseudo %></td>
    <td><%= link_to (image_tag @last_activity.travel.illustration.url(:thumb)), travel_activities_path(@last_activity.travel) %></td>
  </tr>
</table>

<h2>Derniers</h2>
<table>
	<tr>
	    <th>Name</th>
	    <th>Start country</th>
	    <th>End country</th>
	    <th>Start travel</th>
	    <th>End travel</th>
	    <th></th>
 	</tr>
<% @last_travel.each do |travel| %>
  <tr>
    <td><%= travel.name %></td>
    <td><%= travel.start_country %></td>
    <td><%= travel.end_country %></td>
    <td><%= travel.start_travel %></td>
    <td><%= travel.end_travel %></td>
    <td><%= link_to (image_tag travel.illustration.url(:thumb)), travel_activities_path(travel) %></td>
  </tr>
<% end %>
</table>

	<%= form_for("user", :url => user_session_path) do |f| %>
	<%= f.label :pseudo %>
	  <%= f.text_field :pseudo %>
	  <%= f.label :password %>
	  <%= f.password_field :password %>
	  <!--<%= f.check_box :remember_me %>
	  <%= f.label :remember_me %>-->
	  <%= f.submit 'Sign in' %>
	  <%= link_to "Forgot your password?", new_password_path('user') %>
	<% end %>

	<%= link_to "Je partage mon voyage", new_travel_url %>

</div>

