<div id="search">
    <div id="contenu_search">
        <h1>Resultat de votre recherche</h1>

        <% if @travels.count > 0 %>
            <table>

            <% @travels.each do |travel| %>
              <tr>
                <td class="col_photo">
                    <%= link_to (image_tag travel.illustration.url(:thumb)), travel_activities_path(travel) %>
                </td>
                <td class="col_desc">
                    <h2><%= travel.name %></h2>
                    par<br>
                    Dépars : <%= travel.start_country %> Arrivé : <%= travel.end_country %>
                </td>
                <td class="col_dates">
                    Du <%= travel.start_travel %><br/>
                    Au <%= travel.end_travel %>
                </td>
              </tr>
            <% end %>
            </table>
            <%= will_paginate @travels %>
        <% else %>
            <p>Votre recherche n'a retourne aucun resultats</p>
        <% end %>

    </div>
</div>