<h1>Listing activities</h1>

<table>
  <tr>
    <th>Travel</th>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Lieu</th>
    <th>Cost activity</th>
    <th>Start activity</th>
    <th>End activity</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @activities.each do |activity| %>
  <tr>
    <td><%= activity.travel_id %></td>
    <td><%= activity.name %></td>
    <td><%= activity.description %></td>
    <td><%= activity.activity_type %></td>
    <td><%= activity.lieu %></td>
    <td><%= activity.cost_activity %></td>
    <td><%= activity.start_activity %></td>
    <td><%= activity.end_activity %></td>
    <td>
        <% activity.pictures.each do |pict| %>
            <%= image_tag pict.picture.url(:thumb) %>
        <% end %>
    </td>
    <td><%= link_to 'Show', travel_activity_path(activity.travel_id, activity) %></td>
    <td><%= link_to 'Edit', edit_travel_activity_path(activity.travel_id, activity) %></td>
    <td><%= link_to 'Destroy', travel_activity_path(activity.travel_id, activity), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Activity', new_travel_activity_path(@travel) %>
