<p id="notice"><%= notice %></p>

<p>
  <b>Travel:</b>
  <%= @activity.travel_id %>
</p>

<p>
  <b>Name:</b>
  <%= @activity.name %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Type:</b>
  <%= @activity.activity_type %>
</p>

<p>
  <b>Lieu:</b>
  <%= @activity.lieu %>
</p>

<p>
  <b>Cost activity:</b>
  <%= @activity.cost_activity %>
</p>

<p>
  <b>Start activity:</b>
  <%= @activity.start_activity %>
</p>

<p>
  <b>End activity:</b>
  <%= @activity.end_activity %>
</p>

<p>
<% @activity.pictures.each do |pict| %>
    <%= image_tag pict.picture.url(:thumb) %>
    <%= link_to 'Destroy', [@activity.travel, @activity, pict], confirm: 'Are you sure?', method: :delete if can? :manage, pict %>
<% end %>
</p>

<p><%= render 'formpicture' if can? :manage, @activity %></p>

<%= form_for [@activity.travel, @activity,Comment.new] do |f| %>
  <% if current_user.nil? %>
    Attention vous n'etes pas connecté
  <% end %>
  <fieldset>
    <legend>Ecrire un commentaire</legend>
    <%= f.text_area :body, :rows => '3' %><br/>
    <%= f.submit %>
  </fieldset>

<% end %>
<table id="commentaire" class="table">
<%= render @activity.comments %>
</table>

<%= link_to 'Edit', edit_travel_activity_path(@activity.travel_id, @activity) if can? :manage, @activity %> 
<%= link_to 'Back', travel_activities_path(@activity.travel_id) %>

