<p id="notice"><%= notice %></p>

<p>
  <b>Travel:</b>
  <%= @activity.travel_id %>
</p>

<p>
  <b>Name:</b>
  <%= @activity.name %>
</p>

<p>
  <b>Description:</b>
  <%= @activity.description %>
</p>

<p>
  <b>Type:</b>
  <%= @activity.activity_type %>
</p>

<p>
  <b>Lieu:</b>
  <%= @activity.lieu %>
</p>

<p>
  <b>Cost activity:</b>
  <%= @activity.cost_activity %>
</p>

<p>
  <b>Start activity:</b>
  <%= @activity.start_activity %>
</p>

<p>
  <b>End activity:</b>
  <%= @activity.end_activity %>
</p>


<%= link_to 'Edit', edit_travel_activity_path(@activity.travel_id, @activity) %> |
<%= link_to 'Back', travel_activities_path(@activity.travel_id) %>
